.ccf-rank {
  font-size: 12px;
  font-weight: bold;
  white-space: nowrap;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  color: #ffffff;
  border-radius: 9px;
  padding: 1px 8px;
  margin-left: 5px;
  margin-right: 5px;
}

.ccf-a {
  background-color: #dc3545;
}

.ccf-b {
  background-color: #ffc107;
}

.ccf-c {
  background-color: #28a745;
}

.ccf-none {
  background-color: #6c757d;
}

.ccf-tooltip {
  display: inline-block;
  position: relative;
}

.ccf-tooltip .ccf-tooltiptext {
  visibility: hidden;
  background-color: #007bff;
  border-radius: 6px;
  padding: 5px 5px;
  bottom: 100%;
  left: 50%;
  position: absolute;
  z-index: 1;
  margin-left: -60px;
}

.ccf-tooltip:hover .ccf-tooltiptext {
  visibility: visible;
}
